// Colors

$clr-primary: hsl(179, 62%, 43%);
$clr-bright: hsl(71, 73%, 54%);
$clr-background: hsl(204, 43%, 93%);
$clr-medium-text: hsl(218, 22%, 67%);
$clr-white: #FFFFFF;

// Fonst

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
$ff-main: 'Karla', sans-serif;

:root {
    font-size: 16px;
    font-family: $ff-main;
}