@use "./reset.scss";
@use "./config.scss" as c;

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: c.$clr-background;

}

.component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: left;
    max-width: 375px;
}

.section {
    padding: 30px;

    h1, h2, h3 {
        margin-bottom: 1.5rem;
        font-weight: 700;
    }

    h1 {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.1rem;
    }
    
    p {
        line-height: 1.75rem;
    }
}

.section-1 {
    background-color: c.$clr-white;

    h1 {
        color: c.$clr-primary;
    }

    h3 {
        color: c.$clr-bright;
    }

    p {
        color: c.$clr-medium-text;
    }
}

.section-2 {
    background-color: c.$clr-primary;

    h2 {
        color: c.$clr-white;
    }

    p {
        color: c.$clr-light-text;

        span {
            font-size: 2.2rem;
            font-weight: 700;
            color: c.$clr-white;
            margin-right: 15px;
        }

    }

    .button {
        display: block;
        margin: 30px auto 0px auto;
        background-color: c.$clr-bright;
        color: c.$clr-white;
        height: 3rem;
        width: 95%;
        font-size: 1.2rem;
        font-weight: 700;
        border-radius: 5px;

        &:hover{
            background-color: darken(c.$clr-bright, 10%);
        }

        &:active {
            background-color: c.$clr-bright;
        }
    }

}

.section-3 {
    background-color: desaturate(lighten(c.$clr-primary, 10%), 15%);

    h2 {
        color: c.$clr-white;
    }

    li {
        color: c.$clr-light-text;
        list-style: none;
        line-height: 1.5rem;
    }
}